extends ../layouts/default

block content
	section#fixed
		.wrapper
			h2 Faça aqui a sua simulação
			form(action='', method='post', id='formHead')
				ul.clearfix
					li
						label=data.post.valueLoanLabel
						input.text(type='text', name='amount', id='amount')
					li
						label=data.post.numberOfMoths
						input.text(type='text', name='repayDate')
					li
						label=data.post.emailLabel
						input.text(type='email', name='email')
					li
						label.empty .
						input.submit(type='submit', value=data.post.callToActionLabel, onclick='GETAPP.SaveLead(this);return false;')
	header#quotation(name='quotation', itemscope='', itemtype='http://schema.org/Product')
		.wrapper
			.logo
				h1 Get
				p= data.post.tagline
			aside
				h2= data.post.heading
				form(action='', method='post', id='formPage')
					ul
						li
							label=data.post.valueLoanLabel
							input.text(type='text', name='amount')
						li
							label=data.post.numberOfMoths
							input.text(type='text', name='repayDate')
						li
							label=data.post.emailLabel
							input.text(type='email', name='email')
						li
							input.submit(type='submit', value=data.post.callToActionLabel, onclick='GETAPP.SaveLead(this);return false;')

	main
		section#partners
			.wrapper.clearfix
				h2=data.post.headingParceiros
				.swiper-container
					ul#slides.swiper-wrapper
						each par, par_i in data.post.partners
							li.swiper-slide
								img(src= par.image.secure_url , alt= par.name)
						
		section#opinions
			.wrapper
				h2.desktop=data.post.headingOpinions
				h2.mobile
					| Opiniões
					br
					| Sobre a Get
				.ghost .
				.swiper-container.clearfix
					ul#slides.swiper-wrapper.clearfix
						each test, test_i in data.post.testimonials
							li.swiper-slide(itemscope='', itemtype='http://data-vocabulary.org/Review')
								ul.outer.clearfix
									li
										ul.inner.clearfix
											- for(var i = 0; i < test.numberOfStars; ++i){
												- if(i+1 == test.numberOfStars){
													li(itemprop='rating')=i+1
												-}
												- else{
													li=i+1
												- }
											- }
											meta(itemprop='worstRating', content='1')
											meta(itemprop='bestRating', content=test.numberOfStars)
									li(itemprop='reviewer')
										h4=test.name
									li(itemprop='contentLocation')
										h5=test.location
									li(itemprop='summary')
										p=test.testemony
									li(itemprop='itemreviewed' style='display:none')
										p Get Crédito Rápido
					.media(itemscope='' itemtype='http://data-vocabulary.org/Review-aggregate')
						| Média de
						span(itemprop='rating' itemscope='' itemtype='http://data-vocabulary.org/Rating')
							span(itemprop='average') 5
								| estrelas num total de 
							span(itemprop='count')=data.post.testimonials.length
								span  opiniões.
							span(itemprop='best' style='display:none') 5
			a#cta.ancora(href='#quotation')
				.inner Ver Cotações
		section#howitworks
			.wrapper
				h2=data.post.headingHowItWorks
				.item
					span 1
					.icon
						img(src='images/icon-one.png')
					h3=data.post.howItWorksFirstTitle
					p=data.post.howItWorksFirstDescription
				.item
					span 2
					.icon
						img(src='images/icon-two.png')
					h3=data.post.howItWorksSecondTitle
					p=data.post.howItWorksSecondDescription
				.item
					span 3
					.icon
						img(src='images/icon-three.png')
					h3=data.post.howItWorksThirdTitleFirstLine
						br
						|#{data.post.howItWorksThirdTitleSecondLine}
						
					p=data.post.howItWorksThirdDescription
				a#cta.ancora(href='#quotation')
					.inner Ver Cotações
		section#informations
			.wrapper
				h2=data.post.additionalInfoHeading
				.infobox
					ul.tabs.desktop
						li.selected
							a.first(href='', rel='view-first')=data.post.additionalInfoFirstTabLabel
							span
						li
							a.second(href='', rel='view-second')=data.post.additionalInfoSecondTabLabel
							span
						li
							a.third(href='', rel='view-third')=data.post.additionalInfoThirdTabLabel
							span
					ul.tabs.mobile
						li.selected
							a.first(href='', rel='view-first') 1
							span
						li
							a.second(href='', rel='view-second') 2
							span
						li
							a.third(href='', rel='view-third') 3
							span
					.tabcontents.clearfix
						#view-first.tabcontent
							h3=data.post.additionalInfoFirstTabTitle
							#{data.post.additionalInfoFirstTabContent}
						#view-second.tabcontent
							h3=data.post.additionalInfoSecondTabTitle
							#{data.post.additionalInfoSecondTabContent}
						#view-third.tabcontent
							h3=data.post.additionalInfoThirdTabTitle
							#{data.post.additionalInfoThirdTabContent}
			a#cta.ancora(href='#quotation')
				.inner Ver Cotações
